.red_box {
  background-color: rgb(255, 82, 83);
  text-align: center;
  color:white;
  
}
.red_box .container {
    padding-top: 2em;
    padding-bottom: 2em;

}
.red_box .container span {
    border-bottom: 1px solid;
    padding: 0.5em;
    font-size: 18px;
}
.red_box .container p {
    padding-top: 2em;
    padding-bottom: 1em;
}
.about-we {
  background-color: rgba(128, 128, 128, 0.12);
}

.content {
  background-color: white;
  margin-bottom: 2em;
}
.content h5 {
  padding-top: 2em;
  font-weight: bolder;
}
.content p {
  padding-top: 2em;
  color:#9c9c9c;
}

.content p:last-of-type {
  padding-bottom: 2em;
}