.login-form {
padding-top: 5em;
}
.login-form form .glyphicon {
    position: absolute;
    top: 33px;
    right: 22px;
}
   .login-form input {
   	  padding-right: 1.5em;
   	} 
@media (min-width: 1200px){

.col-lg-7 {
    width: 60.333333%;
}
.col-lg-6 {
	width:50%;
}
}

.login-form .col-xs-6 {
    width: 51%;
}
.login-form button[type="submit"] {
	background-color: #76bc36;
	color:white;
	padding-right: 3em;
    padding-left: 3em;
}
.register {
	background-color: #f6f6f6;
	 padding-top: 3em;
	 padding-bottom: 3em;
}