

.green-icon {
    font-size: 70px;
    color: #76bc36;
    background-color: white;
    border-radius: 50%;
}

.defult-icon {
    font-size: 70px;

    background-color: #d7d7d7;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .col-sm-2{
        display: inline-block;
        width: 50%!important;
    }
}

@media (min-width: 768px) {
    .col-sm-2{
        display: inline-block;
        width: 7.69230769231%!important;
    }
}
@media (max-width: 768px) {
    .col-sm-1{
        display: inline-block;
        width: 50%!important;
    }
}

@media (min-width: 768px) {
    .col-sm-1{
        display: inline-block;
        width: 9.09%!important;
    }
}



.bg-color {
    background-color: #f1f1f1;
    padding:1em 0;
}

.buy-status {
    background-color: #ebebeb;
}

.buy-status p {
    padding-top: 1em;
}

.buy-status .container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#form {
    background-color: white;
    padding-top: 2em;
    margin-top: 3em;

}

.total-price {
    color: #76bc36;
    background-color: #f7ffef;
    padding: 1.5em;
    border: 1px solid #ebebeb;
}

.off {
    padding: 1em;
    border: 1px solid #ebebeb;
}

button {
    font-size: 11px !important;
}

.off .input-group {
    direction: ltr;
}

.off .input-group button {
    width: 100px;
    background-color: #40ab34;
    color: white;
}

.off .input-group input {
    width: 145px;
    margin-left: 1em;
}

/*.checkbox label {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*padding-left: 5px;*/
/*}*/

/*.checkbox label::before {*/
    /*!*content: "";*!*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*width: 17px;*/
    /*height: 17px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin-left: -20px;*/
    /*border: 1px solid #cccccc;*/
    /*border-radius: 3px;*/
    /*background-color: #fff;*/
    /*-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;*/
    /*-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;*/
    /*transition: border 0.15s ease-in-out, color 0.15s ease-in-out;*/
/*}*/

/*.checkbox label::after {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*left: 0;*/
    /*right: 2px;*/
    /*top: 0;*/
    /*margin-left: -20px;*/
    /*padding-left: 3px;*/
    /*padding-top: 1px;*/
    /*font-size: 11px;*/
    /*color: #555555;*/
/*}*/

/*.checkbox input[type="checkbox"] {*/
    /*opacity: 0;*/
/*}*/

.checkbox input[type="checkbox"]:focus + label::before {

    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: rgb(0, 166, 81);
    background-color: rgb(0, 166, 81);
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox, .radio {
    position: relative;
    display: block;
}

.checkbox p {
    font-size: 11px;
}
.factor .factor-items:last-child{
    background: #ededed;
}
.deleteProduct{
    margin-right: 10px;
    margin-left: 13px;
    margin-top: 45px;
}
.button {
    padding-top: 2em;
    padding-bottom: 2em;
}
.flaticon-plus{font-weight: 700;
    font-size:13px;}
.table th h5{color:#afafaf}
.button button {
    font-size: 11px;
    color: white;
}

.payment-method h5{padding-right: 10px; text-align: justify;}
.off .btn, .off .form-control{border-radius:2px;}
.off .form-control{ height: 30px}

.payment-method , .choose-address{border:1px solid #eeeeee;
    padding:10px; background-color: #fdfdfd;min-height:140px;}
.radio label{padding:0 !important;}

.button a {
    font-size: 11px;
    color: white;
}

.form-control {
    height: 38px;
}

@media (max-width: 310px) {
    .off input {
        width: 90% !important;
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    height: 30px;
    border:2px solid #ccc;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 50px;
    left: 2px;
    bottom: 2px;
    background-color: #ff5b5b;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #fefefe;
    border-color: #ff5b5b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #9E9E9E;
}

input:checked + .slider:before {
    -webkit-transform: translateX(43px);
    -ms-transform: translateX(43px);
    transform: translateX(54px);
    background:#ff5b5b;
}

/* Rounded sliders */
.slider.round {

}

.slider.round:before {
background-color: #ccc;
}

.cells{
    background: #fbfbfb;
    padding:10px;
    margin-bottom:10px;
    position: relative;
}
.cells .form-control{
    font-size:11px;
    border-radius:1px !important;
    padding:4px 3px;
    max-height:27px;

}
.order-section{
    background:#dedede;
}
.upload-picture-page{
    background-color: #ececec;
}
.upload-picture-page .order-step-2{
    margin-bottom: 30px;
}
.form-group input[type=file]{
    display: none !important;
}
.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}
