.radio label {
    
    padding-top:0.5em !important;
   
   
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: 1.3em;;
    line-height: 0;
    top: 59%;
    left: -2px;
    color:#76bc36;
    
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}


.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
  
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.radio p {
	position: relative;
    top: -16px;
    right: 29px;
}
.radio2 {
	padding-left: 1em;
}

.radio2 label:after {
    content: '';
    display: table;
    clear: both;
}


.radio2 .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.radio2 .cr {
    border-radius: 50%;
}
.radio2 .cr .cr-icon {
    position: absolute;
    font-size: 1em;
    line-height: 0;
    top: 50%;
    left: -3;
    color:red;
 
}

.radio2 .cr .cr-icon {
    margin-left: 0.04em;
}


.radio2 label input[type="radio"] {
    display: none;
}


.radio2 label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
  
}


.radio2 label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}


.radio2 label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
@media(max-width: 470px){
.radio2-res {
	padding-top: 2em
}
}