.red_box {
    background-color: rgb(255, 82, 83);
    text-align: center;
    color: white;
}
.red_box .container {
    padding-top: 2em;
    padding-bottom: 2em;
}
.red_box .container span {
    border-bottom: 1px solid;
    padding: 0.5em;
    font-size: 18px;
}
.red_box .container p {
    padding-top: 2em;
    padding-bottom: 1em;
}
.category:hover {
 cursor: pointer;
 
}

 .search{
    padding-bottom: 2em;
 }
 .price-range p {
    padding-bottom: 0.5em;
 }
.range-slider {
    position: relative;
    height: 80px;
    direction: ltr;
}
.extra-controls {
    position: relative;
    border-top: 3px solid #000;
    padding: 10px 0 0;
}

.inp {
    font-size: 18px;
    width: 40px;
    text-align: center;
    padding: 5px;
}
.inp + .inp {
    float: right;
}

.tooltip-inner {
  background-color: #f44336;
  color: #ffffff;
  padding: 3px 3px;
}
.tooltip.bottom .tooltip-arrow {
     border-bottom-color: rgb(255, 82, 83);

}
.tooltip.top .tooltip-arrow {
    border-top-color: #f44336;
}
@media (min-width: 1200px) {

.product-list .col-lg-2  {
    width: 180px;
}
.col-lg-3 {
    width: 229px;
}
.col-lg-9 {
    width: 940px;
} 

.products .row {
    width:900px;
}
}

@media (min-width: 992px) and (max-width: 1200px) {
   .product-list .col-md-2  {
    width: 18.5%;
}
.dropdown-toggle {

    right: -56px;
}
}
@media (min-width: 750px){
 .product-list .col-sm-2  {
    width: 18.5%;

}   
}
@media (max-width: 650px){
    .col-xxs-6 {
      width:50%;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;        
    }
    .col-xxs-12{
      width:100%;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    #custom-search-input .input-group {
        width:100%;
    }
    .hidden-xxs {
        display: none!important;
    }
    .list {
        padding-bottom: 3em
    }
}
@media (max-width:768px){
  .pages-number,.check-sort{
    text-align: center;
  }
  .check-sort{
    padding-bottom: 2em;
  }
}

.product-padding {
  padding-right: 5px;
  padding-left: 5px; 
}
.border{
    border-bottom: 3px solid #ff5253;
    padding-bottom: 0.5em;
    font-weight:700;
}
.thumbnail {
    padding: 0;
    min-height: 270px;
}
.list .border span i{
    font-size: 10px;
    color:#ff5253;
}
.cart-icon-overlay{
    padding:6px 10px;
    color: #ff5253;
    font-size:18px;
    text-align: center;
    border-radius: 50%;
    background-color: #fefefe;
}


#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: 30px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
#custom-search-input .input-group .form-control:focus {
    z-index: 2;
}
.product_padding {
    padding-right: 5px;
    padding-left: 5px;
}



.test .col-lg-2:not(:first-child):not(:last-child) {

}

.overlay {

    position: absolute;
    top: 0;
    right: 5px;
    left: 5px;
    bottom: 20px;
  opacity: 0;
  transition: .7s ease;
  background-color: #f27573;
}
.overlay-content{
        position: absolute;
    top: 0px;
    height: 20%;
    margin:auto 0;
    right: 5px;
    left: 5px;
    bottom: 0;
  opacity: 0;
  transition: .7s ease;
  color: white;
  text-align: center;

}
.overlay-content a {
    color:white;
}
.overlay img {
}
.overlay p {
    color: white;
}
.product:hover .overlay {
  opacity: 0.75;
}
.product:hover .overlay-content {
  opacity: 1;
}
.list a {
    color: gray;
  }


.irs-bar{
    padding-top: 1em;
    padding-bottom: 1em;
}
.slider-selection {
    background-image: linear-gradient(to bottom, rgb(255, 82, 83) 0, rgb(255, 82, 83) 100%);
}

.slider-handle {

background-image: -webkit-linear-gradient(top,#555555 0,#555555 100%);
width:4px;
}
.product p{
    font-size: 13px;
    margin-top: 8px;
}
.slider-handle.round {
    border-radius: 0;
}
.bootstrap-select .btn-default{
    border:1px solid #d8d8d8;
    background: transparent;
}


.slider.slider-horizontal {
    width: 100%;
    height: 20px;
}

.bootstrap-select.btn-group .dropdown-menu.inner, .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    left: 12px;
    right: auto;
}
.bootstrap-select>.dropdown-toggle {
   width:60%;
}

.bootstrap-select>.dropdown-toggle {
     padding-right: 3px; 
}



.check-sort .form-group input[type="checkbox"] {
    display: none;
}



.check-sort .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.check-sort .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.check-sort .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.check-sort .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.check-sort a {
  font-size: 10px;

}

  .brands-in-products {
    margin-top: 3em;
  }

  .active span {
    background-color:#c9302c !important;
    margin-left: 1em;
    margin-right: 1em;
  }
  .pagination a {
    color:#858585 !important;
    margin-left: 1em;
    margin-right: 1em;
  }