.red_box {
  background-color: rgb(255, 82, 83);
  text-align: center;
  color:white;
  
}
.red_box .container {
    padding-top: 2em;
    padding-bottom: 2em;

}
.red_box .container span {
    border-bottom: 1px solid;
    padding: 0.5em;
    font-size: 18px;
}
.red_box .container p {
    padding-top: 2em;
    padding-bottom: 1em;
}
.bg-img , .bg-img img{padding: 0; max-width: 100% !important;max-height:802px}
.contactus {
  background-color:#f1f1f1;
}
.contactus .container {
  padding-top: 4em;
  padding-bottom: 4em;
}
textarea.form-control{
  height: 128px;
}
.submit button {
    padding: 0.5em 3em;
    background-color: rgb(255, 82, 83);
    color: white;
}
.submit button:hover {
  background-color: rgb(255, 70, 83);
}
form .glyphicon {
    position: absolute;
    top: 33px;
    right: 22px;
}
.form {
  color:#a9a9a9;
  background-color: white;
}
.form h4 {
  padding:1em 0;
   color:#7c7c7c;
   font-weight: bolder;
}
.img {
  padding-right: 0;
}

.form input {
  padding-right: 1.8em;
}

.form .form-control {
  border-radius: 0;
}
.captcha input {
    width: 122px;
    height: 34px;
    margin-top: 2em;
    direction: ltr;
}

  #address {
  position: absolute;
   top:20px;
    right:30px;
     color:white;
  }
@media (max-width: 1200px){
 .contactus .container {
    background-color: white;
  }
}
@media (max-width:500px) {

.col-xxs-12 {
  width:100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.img {
  width:100%;
  padding-left: 0;
  padding-right: 0;

}
 .contactus .container {
    padding-bottom: 0;
  }
  .img img {
        width: 100%;
  }


}


