.profile-page .header {
    min-height: 50px;
    padding: 15px;
}
.profile-page .header .heading {
    font-size: 18px;
    font-weight: 700;
}
.profile-page .left-panel .last-orders {
    padding: 0;
    margin-bottom: 15px;
}

.profile-page {
    padding: 25px 0;
}
.with-border {
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

[class*=col-] {
    float: right!important;
}