.input-group-addon:last-child {
     border-left: 1px solid #ccc;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: black;
    background-color: #fff;
}
.item-introduction ul {
	padding-right: 0;
}