.profile-page .user-title {
    font-weight: 700;
    font-size: 26px;
    margin: 20px 0;
}
.profile-page .right-panel .favorites {
    padding: 0;
}
.with-border {
    border: 1px solid #ebebeb;
    border-radius: 3px;
}
[class*=col-] {
    float: right!important;
}
.profile-page .right-panel .favorites .item {
    padding: 15px;
    height: 130px;
    overflow: hidden;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #ebebeb;
}
.profile-page .right-panel .favorites .item img {
    float: right;
    margin-left: 15px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.profile-page .right-panel .favorites .item .info .name {
    color: gray;
    font-size: 16px;
}
.profile-page .right-panel .favorites .item .info .price {
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
}

.grayish-text {
    color: #9ea9bb;
}
.profile-page .right-panel .favorites .item .info .remove-favorite {
    position: absolute;
    left: 5px;
    top: 40px;
    background-color: #aaa;
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn, a, button {
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
}