.brand {
    width:15%;
    text-align: right;
}
.brand img {
    width:70px;
    height: 20px;
}
.brands,.brands img {
  background-color: rgb(255, 82, 83);
}

.brands .img-thumbnail {
 padding: 0 ;
 border: 0;
 border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.brands .col-xs-6 {
    padding: 0;
}
.about {
    padding-top: 2.5em;
}
.align-right {
    text-align: right;
}
.padding-bottom-2 {
    padding-bottom: 2em;
}
.useful_links ul li:before {
    content: '\00BB';
    color: #c30303;
}

.useful_links ul,.about_fancy {
    direction: rtl;
    list-style: none;
}
.padding-bottom {
    padding-bottom: 0.8em;
}
.padding_bottom_2 {
    padding-bottom: 2em;
}
.footer {
    padding: 2em 0 1em 0;
    border-top: 1px solid #cccccc;
}
.about_fancy button {
    font-size: 10px;
    margin-top: 1em;
    background-color: #cccccc;
}
@media(max-width:660px) and (min-width:500px){
    .about h2 {
        font-size:21px;
    }
}

@media(max-width:500px) {
    .col-xxs-12{
        width:100%
    }
    .about h2 {
        font-size: 25px;
    }
    .trust,.useful_links {
        padding-bottom: 2em;
    }
}