@font-face {
   font-family: byekan;
   src: url(fonts/BYekan.woff);
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  overflow: auto;
  height: 100%;
  font-family: byekan;
}

p,h1,h2,h3,h4 {
    padding:0;
    margin:0;
}
button {
    color:white;
    font-family: byekan;
    background-color: rgb(255, 82, 83);
}
.font_48{
    font-size: 48px;
}
.padding_right_2{
    padding-right: 2em; 
}
.padding_right_4{
    padding-right: 4em; 
}
.padding_right_3{
    padding-right: 3%;
}
.padding_left_1{
    padding-left: 1%;
}
.padding_1 {
    padding:0.5em;
}
.padding_top_3{
    padding-top: 3%;
}
.padding_bottom_3{
    padding-bottom: 3%;
}
.padding_bottom_1 {
    padding-bottom: 1em;
}
.fancy_new_cat ul li{
    padding-bottom: 0.5em;
}
.fancy_new_cat {
    width:15%;
    direction: rtl;
    margin-top: 2em;
}
.hot {
    color:rgb(255, 82, 83);
}
.fancy_new_cat p{
    padding-bottom: 0.5em;
}
.li_circle {
    list-style-type: circle;
}
.padding_special{
  padding-top: 3%;
  padding-bottom: 3%;
}
.ltr{
    direction: ltr;
}
.BGC_white{
    background-color: white;
}
.BGC_ga {
    background-color: rgba(128, 128, 128, 0.12); ;
}
.‌‌BGC_ga .ch_special button {
    margin-top: 2em;
}
.width_100{
    width:100%;
}
.width_80 {
    width:80%;
}
.width_85 {
    width:85%;
}
.width_90 {
    width:90%;
}
.width_98 {
    width:98%;
}

.margin_auto{
    margin: auto;
}
.flex{
    display: flex;
    display: -webkit-flex;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
}
.flex-container-rev {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;

}
.text{
    display: inline-block;
}
.display_inline{
    display: inline-block;
}
.align_right{
  text-align: right;
}
.align_center {
    text-align: center;
}
h1 {
    padding: 0;
    margin: 0;
}
 .label .material-icons,.shop,.nav a,header h1,header p {
   
    color: white;
}
a {
     text-decoration: none;
}
.border {
    border-bottom: 2px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(../img/border.png) 30 stretch;
}
.start {
  background-image: url("../img/header-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
}
.user {
    padding-top:0.8em;
    width:100%;
    margin-bottom: 10px;
}
.user a {
    color:white;
}
.user .register a  {
    color: green;
}

.start section {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.navbar {
    padding:1.5em 0 1.5em 0 ;
    width: 100%;
    display: flex;
}
.navbar .label {
   width:15%;
} 
.nav {
    width: 70%;
    text-align: center;
}
.shop {
    width:15%
}
.shop img:first-child {
    margin-right:10%
}
 a:hover {
    color:green;

}
.nav_open {
    display: none;
}
.brand {
    width:15%;
    text-align: right;
}
.brand img {
position: relative;
bottom: 30px;
float: right;
}

.input-group {
    padding:0.2em;
    background-color: white;
}
.input-group-btn button {
    width:70px;
}
.summary {
    width:100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
    padding-bottom: 2em;
    color:white;
}
.summary p {
    padding-top: 2em;
    padding-bottom: 2em;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

.search  button {

}
.search input {

}
.ch_special{
   margin: auto;
}
.padding_top_2 {
    padding-top: 2%;
}
.padding_bottom_2 {
    padding-top: 2%;
}
.ch_special .content {
    width: 80%;
    padding-left: 4em;
    padding-top: 2em;
    padding-right: 3em;
    text-align: right;
}
.ch_special .select{
  margin: auto;
}
.ch_special .images_select img {
    border-radius: 100%;
}
.images_select {
    position: relative;
}
.images_select .one {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 4;
    top: 0;
    left: 31px;
    
}
.images_select .two {
    width: 130px;
    height: 130px;
    position: relative;
    z-index: 1;
    left: 0;
}
.images_select .three {
    width: 90px;
    height: 90px;
    position: relative;
    z-index: 0;
    left: -30px;
    top: 38px;
}

.images_select .four {
    width: 60px;
    height: 60px;
    position: relative;
    bottom:0;
    z-index: 1;
    right: 135px;
}
.new_products{
   
}
.off_products {
   
}
.off_counter {
    position: relative;
}
.off_counter h4 {
    position:absolute;
}
.fanncy_off .product section {
    width:10.5em;
    margin-left: auto;
    margin-right: auto;
}
.off_counter svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.off_counter .secounds .circle_animation {
  stroke-dasharray: 83; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 83;
  transition: all 1s linear;
}
.off_counter .minutes .circle_animation {
  stroke-dasharray: 80; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 80;
  transition: all 1s linear;
}
.off_counter .hours .circle_animation {
  stroke-dasharray: 83; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 83;
  transition: all 1s linear;
}
.off_counter .days .circle_animation {
  stroke-dasharray: 83; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 83;
  transition: all 1s linear;
}
.product:not(:last-child) {
    margin-right: 5px;

}

 .product span img {
    margin: auto;
      -webkit-transition: opacity 800ms;
        -moz-transition: opacity 800ms;
        -o-transition: opacity 800ms;
        transition: opacity 800ms;       
}
 .product span img:hover {
    opacity: 0.8;
}

.product span p {
    background-color: rgb(255, 82, 83);
    position: fixed;
    margin-left: 0.5%;
    margin-top: 0.5%;
    border-radius: 0 10px 10px 10px;
    color: white;
    width: 30px;  
    z-index: 1;  
}

.buy_for_off{
    background-color: green ;
    opacity: 0;
    color: white;
    -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;

       
}
.buy{
    background-color: green ;
    opacity: 0;
    color: white;
    -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;

       
}
.product:hover  .buy {
    opacity: 1;
    
}
.product:hover  .buy_for_off {
    opacity: 1;
    
}
.product:hover  .data_off {
    opacity: 0;
    
}
.product:hover .off_secounds {
    display: none;
}
.fancy_new_bg {
   background-color: rgba(128, 128, 128, 0.12);
}
.nutesnick{
    margin-left: 2%;
    width:20%;
}

.fancy_favorite .col-lg-2 {
 float: right;
}

.favorite_pics{
    flex-direction: column;  
}
.img_fav img{
    width:100%;
    min-width: 100px;
}
.favorite_pics img {
  width: 100%;
  max-width: 150px;
  min-width: 110px;
}
.no_border_bottom{
  border-bottom: none;
}
.brands,.brands img {
  background-color: rgb(255, 82, 83);
}

.brands .img-thumbnail {
 padding: 0 ;
 border: 0;
 border-radius: 0;
}

.brands img {
}
.about{
   
    
}
.about_fancy {
    text-align: right;
}
.useful_links{
    direction: rtl;
}
.useful_links ul:not(:first-child){
  display:inline-block;
  width:48%;
}
.useful_links section {
}
.trust_mark {
    text-align: right;
}
.trust_mark img {
    border: none;
}
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

.fancy_off .product section {
    width:10.5em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
}

.about {
  padding:2em 0 2em 0;

}
.about h2 {
    padding:0 0 1em 0;
    text-align: right;
}









@media only screen and (max-width:400px) {
     .col-xs-6 {
     padding-right:0;
     padding-left:0;
}

}
@media only screen and (max-width:500px){
  html,body{
  font-size: 14px;
}
.fancy_off h1,.fancy_new_bg h1,.fancy_favorite h1 {
  font-size: 30px;
}
.ch_special .select {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;

}
.ch_special .select .img-fancy-random {
  margin: auto;
}
.ch_special .select .img-fancy-random img {
  margin: auto;
  width: 70%;
}
  .summary{
    padding-top: 8em;
  }
  .summary h1 {
    font-size: 22px;
  }
  .summary p {
    width:80%;
    padding: 2em 0 2em 0;
    
  }
  .search{
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width:100%;
  }
  .search button{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
 .search input {
    width: 90%;
    margin: auto;
 }
 .col-xxs-12{
   width:98%;
   text-align: center;
 }
 .about li {
   text-align: right;
 }
 .about_fancy {
   text-align: right;
 }
}

@media only screen and (max-width:600px){
  .ch_special .images_select {
    display: none;
  } 
  .ch_special .content {
    width: 100%;
  }


}
@media only screen and (min-width:1000px) and (max-width:1100px) {
    .width_80,.width_85{
    width: 95%;
  }

}
@media only screen and (max-width:1000px) {
  .start section {
    width:100%;
  }
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color:rgba(17, 17, 17, 0.67);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
.nav a {
  display: block ;
  padding: 0 0 1em 0;
}
.navbar .label {
  width:80%;
}
.user{
  width:50%;
  text-align: right;
}
.nav_open{
    display: block;
    width:50%;
    padding-left: 5px;
    height: 40px;
}
.user_layer{
  padding-right: 1em;
}
.shop{
  width:70%;
  padding-left: 5px;
}
.brand{
  width:30%;

  text-align: right;
      text-align: -webkit-right;
}
.brand img {
  padding-right: 0.5em;
  bottom: 17px;
  
}
.ch_special .images_select {
  width:50%;
}
.fancy_new_cat{
  display: none;
}

  .width_80,.width_85{
    width: 98%;
  }
  .ch_special .content {
    padding: 1em;
  }
  

}

@media only screen and (max-width:1300px) {

}

@media only screen and (max-height:450px){
  .summary {
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  .summary p {
    width: 80%;
    padding: 1em 0 1em 0;
}
}