.start{
  background:none;
  background-color: black;
  height: initial;

}
.start section {
    width:100%;
}
.red_box {
  background-color: rgb(255, 82, 83);
  text-align: center;
  color:white;
  
}
.red_box .container {
    padding-top: 2em;
    padding-bottom: 2em;

}
.red_box .container span {
    border-bottom: 1px solid;
    padding: 0.5em;
    font-size: 18px;
}
.red_box .container p {
    padding-top: 2em;
    padding-bottom: 1em;
}
.login{
    padding: 3em 0 3em 0 ;
    background-color:rgba(128, 128, 128, 0.12);
}
.login_bg{
    position: relative;
}
.form-group input {
  background-color: #83d176;
  border:none;

}

.comment {
    position: absolute;
    color: white;
    top:100px;
    right:100px;
    direction: rtl;
}
 .comment p {
    padding-top: 1em;
}

.login_form {
   
   color: white;
   direction: rtl;
}


.login_form input {
    padding-right: 1.8em;
}
.submit {
    border-radius: 3px;
     background-color: rgb(118, 188, 54);
      box-shadow: 0px 5px 11px 0px rgba(118, 188, 54, 0.2);
      margin:1.3em auto;
       display:block;
        width:40%;

}
.login_form button:hover {
  
 background-color: rgb(118, 163, 54);
}

form .glyphicon {
    position: absolute;
    top: 33px;
    right: 22px;
}


.width_90 {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}
.green{
 background-color: rgb(105, 195, 90);
 padding-top:2em;
     margin-bottom: 3.3em;
}
.white {
    background-color: white;
}
.green::after {
    background-color: white;
}

.email {
    background: url(../img/ic_email_white_18px.svg) no-repeat scroll 98% 5px;
}
.password{
    background: url(../img/ic_lock_white_18px.svg) no-repeat scroll 98% 5px;
}
@media only screen and (max-width:992px) {

.input_width {
    width:70%;
     
}
.comment {
  right:20px;
}
}
.forget_password {
  padding-bottom: 4em;
}
.forget_password a {
  border-bottom: 1px solid white ;
  padding-bottom: 5px;
  font-size: 9px;

}
@media only screen and (min-width:770px) {
.login .login_bg ,.login_form {
  padding:0 5px 0 5px;
}

}
@media only screen and (max-width: 770px){
  .login_bg {
    padding-bottom: 3em;
  }
}
@media only screen and (max-width: 500px){
  .comment {
    top:20px;
  }
  .comment h4{
    font-size: 15px

  }
  .comment p {
    padding-top: 2em;
    font-size: 10px;
  }
}



.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      right:0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      right:2px;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }





.checkbox-info input[type="checkbox"]:checked + label::before {
  
  }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color:rgb(105, 195, 90);
   }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; 
    }
  .checkbox string {
      position: relative;
      right:-13px;
      bottom:7px;
  }

  .Check_mark {
  background-color: rgb(0, 166, 81);
  position: absolute;
  left: -2px;
  top: 0px;
  width: 14px;
  height: 14px;
  z-index: 64;
}