*{
    text-align: right;
    direction: rtl;
}
body {
    font-family: 'samim' !important;
    font-size: 12px;
    text-align: right;
    color: gray;
}
h2,h1,h3,h4,p {
    margin:0;
    padding: 0;
}
a:hover {
        text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  overflow: auto;
  height: 100%;
  font-family: byekan;
}

p,h1,h2,h3,h4 {
    padding:0;
    margin:0;
}
button {
    color:white;
    font-family: byekan;
    background-color: rgb(255, 82, 83);
}

.font_48{
    font-size: 48px;
}
.newFancyCategory{
    background:#ececec;
}
.newFancyCategory .li_circle .categoryItem a{
    color: #777;
}
.newFancyCategory ul .categoryItem{
    margin-top: 15px;
}
.newFancyCategory ul .seeAll{
    margin-right:-20px;
}
.newFancyCategory ul .seeAll i{
    font-size: 11px;
}
.padding_right_2{
    padding-right: 2em; 
}
.padding_right_4{
    padding-right: 4em; 
}
.padding_right_3{
    padding-right: 3%;
}
.padding_left_1{
    padding-left: 1%;
}
.padding_1 {
    padding:0.5em;
}
.padding_top_3{
    padding-top: 3%;
}
.padding_bottom_3{
    padding-bottom: 3%;
}
.padding_bottom_1 {
    padding-bottom: 1em;
}
.fancy_new_cat ul li{
    padding-bottom: 0.5em;
}
.fancy_new_cat {
    width:15%;
    direction: rtl;
    margin-top: 2em;
}

body {
    font-family: 'samim'!important;
    font-size: 12px;
    direction: rtl;
    color: gray;
}
h2,h1,h3,h4,p {
    margin:0;
    padding: 0;
}
a:hover {
    text-decoration: none;
}

.navbar-inverse {
    background-color: rgb(37, 37, 37);
}
.navbar {
    margin-bottom: 0;
    padding-bottom: 1em;
}
.log-reg {
    font-size: 9px;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(241, 241, 241);
}

.mynav li a {
    padding-right: 15px;
    font-size:12px;
}

#log-reg {
    direction: rtl;
    padding-top: 0.5em;
    margin-left: 2em;
}
.log-reg ul {
    font-size: 12px;
}
#log-reg a{
    padding:2px 2px ;
}

.my-navbar-header{
    position: relative;
    bottom: 22px;
}
.my-navbar-header .navbar-brand {
    padding-top: 0;
}
.main-nav {
    padding-bottom: 32px;
}
.glyphicon-log-in {
    font-size: 11px;
    top: 3px;
}

@media (max-width:768px ) {
    .my-navbar-header{
        bottom: 0;
    }
    .navbar-brand{
        float: left;
    }
    .navbar-brand img {
        height: 60px;
    }
    .navbar-toggle {
        float:right;
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: -30px;
        margin-left: -30px;
    }


}
@media (min-width: 768px){
    .navbar-right {
        float: left!important;
        margin-right: -15px;
    }
    .navbar-header {
        float: right;
    }
    .navbar-nav {
        float: right;
        margin: 0;
    }
    .mynav>li {
        float: right;
    }
}

@media (max-width:994px){
    .container {
        width: 100%;
    }
}
@media (max-width:780px){
    .mynav {

        -webkit-padding-start: 10px;

    }
}


@media (max-width:1200px){
    .mynav li a {
        padding-right: 0;
    }

}
.search form input[type=text] {
    width: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px;
    background-color: transparent;
    background-image: url('../img/search.png');
    background-position: 2px 6px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.8s ease-in-out;
    transition: 0.3s ease-in-out;
}
.flaticon-shopping-cart{
    font-size: 20px;
}
@media screen and  (max-width: 768px) {
    .search form input[type=text] {
        width: 86%;
        margin:0 7%;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 6px;
        background-color: #757575;
        background-image: url('../img/ic_search_white_18dp_1x.png');
        background-position: 4px 10px;
        background-repeat: no-repeat;
        -webkit-transition: width 0.8s ease-in-out;
        transition: 0.3s ease-in-out;
    }

}
div#ui-datepicker-div{
    z-index:26;
}
.owl-item div.product{
    width:100%;
}
.search form input[type=text]:focus {
    width: 240px;
    padding: 6px;
    background-color: white;

}

.order-count {
    margin-left: 9px;
    font-family: arial;
    width: 20px;
    height: 20px;
    float: right;
    /* margin: 7px 7px 0 0; */
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5fbf63;
    color: #fff;
    text-align: center;
    line-height: 22px;
}
.hot {
    color:rgb(255, 82, 83);
}
.fancy_new_cat p{
    padding-bottom: 0.5em;
}
.li_circle {
    list-style-type: circle;
}
.padding_special{
  padding-top: 3%;
  padding-bottom: 3%;
}
.ltr{
    direction: ltr;
}
.BGC_white{
    background-color: white;
}
.BGC_ga {
    background-color: rgba(128, 128, 128, 0.12); ;
}
.‌‌BGC_ga .ch_special button {
    margin-top: 2em;
}

.margin_auto{
    margin: auto;
}

.flex{
    display: flex;
    display: -webkit-flex;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
}
.flex-container-rev {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;

}
.text{
    display: inline-block;
}
.display_inline{
    display: inline-block;
}
.align_right{
  text-align: right;
}
.align_center {
    text-align: center;
}
h1 {
    padding: 0;
    margin: 0;
}
 .label .material-icons,.shop,.nav a,header h1,header p {
   
    color: white;
}
a {
     text-decoration: none;
}
.border {
    border-bottom: 2px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../img/border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../img/border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(../img/border.png) 30 stretch;
}
.user {
    padding-top:0.8em;
    width:100%;
}
.user a {
    color:white;
}
.user .register a  {
    color: green;
}

.start section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.navbar {
    padding:1.5em 0 1.5em 0 ;
    width: 100%;
    display: flex;
}
.navbar .label {
   width:15%;
} 
.nav {
    text-align: center;
}
.shop {
    width:15%
}

.nav_open {
    display: none;
}
.brand {
    width:15%;
    text-align: right;
}
.brand img {
    width:70px;
    height: 20px;
}
.input-group {
    padding:0.2em;
    background-color: white;
}
.input-group-btn button {
    width:70px;
}
.summary {
    width:45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    padding-bottom: 2em;
    color:white;
}

.summary p {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.description-order p{
    text-align: justify;
}
.summary h1{
    text-align: center;
    padding-bottom:1em;
}

.ch_special{
   margin: auto;
}
.padding_top_2 {
    padding-top: 2%;
}
.padding_bottom_2 {
    padding-top: 2%;
}
.ch_special .content {
    width: 80%;
    padding-left: 4em;
    padding-top: 2em;
    padding-right: 3em;
    text-align: right;
}
.ch_special .select{
  margin: auto;
}
.ch_special .images_select img {
    border-radius: 100%;
}
.images_select {
    position: relative;
}
.images_select .one {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 4;
    top: 0;
    left: 31px;
    
}
.images_select .two {
    width: 130px;
    height: 130px;
    position: relative;
    z-index: 1;
    left: 0;
}
.images_select .three {
    width: 90px;
    height: 90px;
    position: relative;
    z-index: 0;
    left: -30px;
    top: 38px;
}

.images_select .four {
    width: 60px;
    height: 60px;
    position: relative;
    bottom:0;
    z-index: 1;
    right: 135px;
}
.off_counter {
    position: relative;
    margin-top: 25px;
    text-align: center;
}
.off_counter h4 {
    position:absolute;
}
.fanncy_off .product section {
    width:10.5em;
    margin-left: auto;
    margin-right: auto;
}
.fancy_off .product .card:hover .card-img-top{
    opacity:.7;
}
.off_counter svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.off_counter .secounds .circle_animation {
  stroke-dasharray: 83; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 83;
  transition: all 1s linear;
}
.off_counter .minutes .circle_animation {
  stroke-dasharray: 80; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 80;
  transition: all 1s linear;
}
.off_counter .hours .circle_animation {
  stroke-dasharray: 83; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 83;
  transition: all 1s linear;
}
.off_counter .days .circle_animation {
  stroke-dasharray: 83; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 83;
  transition: all 1s linear;
}
.fancy_off .products{
    padding-right: 0;
    padding-left: 0;
}
 .product span img {
    margin: auto;
      -webkit-transition: opacity 800ms;
        -moz-transition: opacity 800ms;
        -o-transition: opacity 800ms;
        transition: opacity 800ms;       
}
 .product span img:hover {
    opacity: 0.8;
}

.product span p {
    background-color: rgb(255, 82, 83);
    position: fixed;
    margin-left: 0.5%;
    margin-top: 0.5%;
    border-radius: 0 10px 10px 10px;
    color: white;
    padding:1px 11px;
    z-index: 1;  
}

.buy_for_off{
    opacity: 0;
    -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;

       
}
.newProducts{
    border-left:1px solid #d0d0d0;
}
.favoriteBanner{
    width:100%;
}
.buy{
    background-color: green ;
    opacity: 0;
    color: white;
    -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;

       
}
.product:hover  .buy {
    opacity: 1;
    
}
.product:hover  .buy_for_off {
    opacity: 1;
    
}
.product:hover  .data_off {
    opacity: 0;
    
}
.product:hover .off_secounds {
    display: none;
}
.fancy_new_bg {
   background-color: rgba(128, 128, 128, 0.12);
}
.nutesnick{
    margin-left: 2%;
    width:20%;
}

.fancy_favorite .col-lg-2 {
 float: right;
}

.favorite_pics{
    flex-direction: column;  
}
.img_fav img{
    width:100%;
    min-width: 100px;
}
.favorite_pics img {
  width: 100%;
  max-width: 150px;
  min-width: 110px;
}
.no_border_bottom{
  border-bottom: none;
}
.brands,.brands img {
  background-color: rgb(255, 82, 83);
}

.brands .img-thumbnail {
 padding: 0 ;
 border: 0;
 border-radius: 0;
}
.icon-img{
    margin-top:-30px;
}
.about_fancy {
    text-align: right;
}
.useful_links{
    direction: rtl;
}
.useful_links ul:not(:first-child){
  display:inline-block;
  width:48%;
}
.useful_links section {
}
.trust_mark {
}
.trust_mark img {
    border: none;
}
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    .m-b-20{
        margin-bottom:20px;
    }


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #ff0e41;
    color: #fefefe;
}
.nav-tabs>li a, .nav-tabs>li a:focus, .nav-tabs>li a:hover{
    background-color: white;
    color: black;
}
.discountPercent{
    padding:1px 5px ;
    position: absolute;
    top:5px;
    left:5px;
    color: #fff;
    font-size:13px;
    background: #ff0e41;
    border-radius:  0 13px 13px 13px;
    display: inline-block;
    
}
.fancy_off .card-block{
    padding:6px;
}
.card{
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
}
.fancy_off .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.bs-caret{
    position: absolute;
    left: 7px;
    font-size: 12px;
    top: 8px;
}
.navbar-brand>img{
    margin-top: 10px;
}
.mynav li a{
    font-size: 14px;
}
.buy_for_off {
    position: absolute;
    right: 10%;
    width: 80%;
    bottom: 10px;
    font-size:13px;

}
.product:hover .off_counter{
    opacity:0;

}
.newFancyCategory .col-md-2{
    padding-left: 0;
}

.card {
    position: relative;
    margin-bottom: .75rem;
    background: #fff;
    border: .0625rem solid #e5e5e5;
    /*border-radius: .25rem;*/
}



.card-block {
    padding: 1rem;
}
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}

.card-title {
    margin-top: 0;
    margin-bottom: .75rem;
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-radius: .25rem .25rem 0 0;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-radius: 0 0 .25rem .25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: .0625rem solid #e5e5e5;
}

.card-header:first-child {
    border-radius: .1875rem .1875rem 0 0;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: .0625rem solid #e5e5e5;
}

.card-footer:last-child {
    border-radius: 0 0 .1875rem .1875rem;
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.card-inverse .card-header,
.card-inverse .card-footer {
    border-bottom: .075rem solid rgba(255, 255, 255, .2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-blockquote > footer {
    color: rgba(255, 255, 255, .65);
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
    color: #fff;
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: .25rem;
}
.card-img-top{
    width: 100%;
}


.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-deck {
    display: table;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
}

.card-deck .card {
    display: table-cell;
    width: 1%;
    vertical-align: top;
}

.card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
}

.card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.card-group .card {
    display: table-cell;
    vertical-align: top;
}

.card-group .card + .card {
    margin-left: 0;
    border-left: 0;
}

.card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
}

.card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
}

.card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
}

.card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
}

.card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.card-group .card:not(:first-child):not(:last-child) .card-img-top,
.card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
}

.card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

.card-columns .card {
    display: inline-block;
    width: 100%;
}
.tab-content{
    background: #fff;
    border:1px solid #ececec;
}