
body {
    font-family: 'samim'!important;
    font-size: 12px;
    direction: rtl;
    color: gray;
}
h2,h1,h3,h4,p {
    margin:0;
    padding: 0;
}
a:hover {
        text-decoration: none;
}

.navbar-inverse {
     background-color: rgb(37, 37, 37);
}
.navbar {
    margin-bottom: 0;
    padding-top: 1em;
}
.log-reg {
    font-size: 9px;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(241, 241, 241);
}

.mynav li a {
    padding-right: 15px;
    font-size:14px;
    text-align: right;
}

#log-reg {
    direction: rtl;
    padding-top: 0.5em;
    margin-left: 2em;
}
.log-reg ul {
    font-size: 12px;
}
#log-reg a{
    padding:2px 2px ;
}

.my-navbar-header{
    position: relative;
    bottom: 22px;
}
.my-navbar-header .navbar-brand {
  padding-top: 0;
}
.navbar-brand>img{
    margin-top: 10px;
}
.main-nav {
    padding-bottom: 11px;
} 
.glyphicon-log-in {
    font-size: 11px;
    top: 3px;
}

@media (max-width:768px ) { 
.my-navbar-header{
    bottom: 0;
}
.navbar-brand{
    float: left;
}
.navbar-brand img {
    height: 60px;
}
.navbar-toggle {
    float:right;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -30px;
    margin-left: -30px;
}


}
@media (min-width: 768px){
.navbar-right {
    float: left!important;
    margin-right: -15px;
}
.navbar-header {
    float: right;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.mynav>li {
    float: right;
}
}

@media (max-width:994px){
    .container {
    width: 100%;
}
}
@media (max-width:780px){
.mynav {
    
      -webkit-padding-start: 10px;

    }
}


@media (max-width:1200px){
    .mynav li a {
        padding-right: 0;
    }

}

.search form input[type=text] {
    width: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    position: absolute;
    top:10px;
    left:10px;
    padding:6px;
   background-color: transparent;
    background-image: url('../img/search.png');
    background-position: 2px 6px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
.flaticon-shopping-cart{
    font-size: 20px;
}


.search form input[type=text]:focus {
    width: 212px;
    padding:6px;
    background-color:white;
    background-image: none;
    }

.order-count {
    margin-left: 9px;
    font-family: arial;
    width: 20px;
    height: 20px;
    float: right;
    /* margin: 7px 7px 0 0; */
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5fbf63;
    color: #fff;
    text-align: center;
    line-height: 22px;
}