.nav-tabs { border-bottom: 2px solid #DDD; }       

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
/*.tab-content{padding:20px}*/

.card {background: #FFF none repeat scroll 0% 0%; margin-bottom: 30px; }

.product-tabs {
    clear: both;

    padding-bottom: 2em;
}

.product-tabs .nav-tabs>li {

    
}
.product-tabs ul {
    text-align: center;
}
.product-tabs li {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.product-tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      background-color: rgb(255, 82, 83);
      color:white;
}
.product-chooser-item .description-selected{
    display: block;
    color: #7e7e7e;
    font-size:14px;
}
.product-chooser-item .title-selected{
    color: rgb(255, 82, 83);
    display: block;
    font-size: 16px;

}
