/*.bought-progress .fa-check {*/
	/*background-color: #76bc36;*/
	/*color:white;*/
	/*border-radius: 50%;*/
	/*padding: 1em*/
/*}*/
.bought-progress .dot img {
	width:5px;
	height: 5px;
} 
.address-info {
	margin-top: 1em;
	padding:1em;
}
.address-info div {
	padding-bottom: 0.5em;
	padding-top: 0.5em
}

.bought-progress .progres {
	margin: 20px auto;
	text-align: center
}
.bought-progress .progres .bar{
	display: inline-block;
	background: #fff;
	width: 40px;
	height: 40px;
	border-radius: 40px;

}

.bought-progress .progres .circle {
	display: inline-block;
	background: #fff;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 1px solid #d5d5da;
}

.bought-progress .progres .bar {
	position: relative;
	width: 60px;
	height: 0;
	top: -33px;
	margin-left: -5px;
	margin-right: -5px;
	border-left: none;
	border-right: none;
	border-radius: 0
}

.bought-progress .progres .circle .label {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 32px;
	margin-top: 3px;
	color: #b5b5ba;
	font-size: 17px;
	padding: 0
}
.bought-progress .progres i{
	color: #b5b5ba;
}
.bought-progress .progres .circle .title {
	color: #b5b5ba;
	font-size: 13px;
	line-height: 30px;
	margin-left: -5px;
	white-space: nowrap
}

.contact-us-page .address div,    .address-info div {
	line-height: 35px
}
.bought-progress .progres i{

}

.bought-progress .progres .bar.done,    .bought-progress .progres .circle.done {
	background: rgb(75, 200, 51);
	color:  rgb(75, 200, 51);
}

.bought-progress .progres .bar.active {
	background: -webkit-linear-gradient(left, #EEE 40%, #FFF 60%);
	background: linear-gradient(to right, #EEE 40%, #FFF 60%)
}
.last-orders{background: #fff;
	padding: 30px 15px;}

.bought-progress .progres .circle.done .label {
	color: #FFF;
	background: rgb(75, 200, 51);
}
.profile-page{padding-bottom: 30px;}

.bought-progress .progres .circle.done .title {
	color: #444
}

.bought-progress .progres .circle.active .label {
	color: #FFF;
	background: rgb(75, 200, 51);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .2)
}

.bought-progress .progres .circle.active .title {
	color: rgb(75, 200, 51);
}
