@media  (min-width: 768px) {
    div.col-sm-7.five-three {
    width: 60% !important;
    }

    div.col-sm-5.five-two {
    width: 40% !important;
    }
}

div.clear
{
  clear: both;
}
body{
  direction: rtl;
}

div.product-chooser.disabled div.product-chooser-item,.product-choosed
{
  zoom: 1;
  filter: alpha(opacity=60);
  opacity: 0.9;
  cursor: default;
}

div.product-chooser div.product-chooser-item{
  padding: 11px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  border: 1px solid #ececec;
  margin-bottom: 10px;
  background: #f9f9f9;
}
.cell-title{
  padding: .5em 0;
}
.cells .form-group span{ font-size:12px;}
div.product-choosed{
  padding: 11px;
  border-radius: 6px;
  position: relative;
  border: 1px solid #efefef;
  margin-bottom: 10px;
}
.layout-select div.product-chooser-item{
}

div.product-chooser div.product-chooser-item.selected{
  border: 4px solid #76bc36;
  background: #efefef;
  padding: 8px;
  filter: alpha(opacity=100);
  opacity: 1;
}

.space-2-50{
  margin: 50px 0;
}
.layout-select div.product-chooser-item img{
  min-height: 120px;
  max-height: 120px;
}
div.product-chooser div.product-chooser-item img,.product-choosed img{
  padding: 0;
}

div.product-chooser div.product-chooser-item span.title{
  display: block;
  margin: 1.3em 0 1em 0;
  font-weight: bold;
  color: #da4136;
  text-align: center;
  font-size: 15px;
}

div.product-chooser div.product-chooser-item span.description{
  font-size: 12px;
}

div.product-chooser div.product-chooser-item input[type='radio']{
  position: absolute;
  right: 5px;
  top: 5px;
}
.col-half-offset{
  margin-left:2.166666667%
}

.layout img{
  margin-top: 35px;
}
button.close{
  padding:8px !important;
  border-radius: 2px !important;
  background: rgba(239, 61, 61, 0.84) !important;
  color: #fefefe !important;

}
.open-modal{
  position: absolute;
  top:8px;
  left:5px;
  z-index:1000;
  border:none;
  background: transparent;
}


input[type="radio"] + label {
  color:#f2f2f2;
}

input[type="radio"] + label span {
  display:inline-block;
  vertical-align:middle;
  background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png') -38px top no-repeat;
  cursor:pointer;
}

input[type="radio"]:checked + label span {
  background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png') -57px top no-repeat;
}
.order-section{
  background: #ebebeb;width: 100%;
}
.order-step-2 .order-content{
  margin-bottom:30px;
}
.upload-picture-page {
  background:#f1f1f1;
}
.product-chooser .col-xs-12{
  padding: 0 4px;
}
