.nav-tabs { border-bottom: 2px solid #DDD; }       

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px;
    background: #ffffff;}

.card {background: #FFF none repeat scroll 0% 0%; margin-bottom: 30px; }

.product-tabs {
    clear: both;
}
.product-tabs .nav-tabs>li {
    float: right !important;
}
.sent-tickets{
    margin-top: 30px;
    background: #eae7e7;
    color: #777;
    border: 1px solid #dedede;
}
.edit-link-profile{
    padding:10px;}
.nav-tabs>li>a{
    background: #d6d6d6;
    color: #565656;
}

.product-tabs .nav {
  direction: ltr !important;
}
.product-tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      background-color: rgb(255, 82, 83);
      color:white;
}

.dollar {
	border-radius: 50%;
    background-color: #f1b50b;
    width: 24px;
    height: 24px;
    padding-top: 4px;
    color: #444;
}
.status-pic {
    width: 50px;
    height: 50px;
}
.width-5-px {
	width: 5px;
}

.suport-request .table-striped>tbody>tr {
    background-color: white !important;
}

.table-striped>tbody>tr:nth-of-type(odd){}


.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.icon-rotate-180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);

  }


   .bought-progress .progres {
    margin: 20px auto;
    text-align: center
}
.bought-progress .progres .bar{
    display: inline-block;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 40px;

}

  .bought-progress .progres .circle {
    display: inline-block;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}

   .bought-progress .progres .bar {
    position: relative;
    width: 60px;
    height: 0;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0
}

   .bought-progress .progres .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
    padding: 0
}
.bought-progress .progres i{
    color: #b5b5ba;
}
   .bought-progress .progres .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
    white-space: nowrap
}

.contact-us-page .address div,    .address-info div {
    line-height: 35px
}
.bought-progress .progres i{

}

   .bought-progress .progres .bar.done,    .bought-progress .progres .circle.done {
    background: rgb(75, 200, 51);
       color:  rgb(75, 200, 51);
}

   .bought-progress .progres .bar.active {
    background: -webkit-linear-gradient(left, #EEE 40%, #FFF 60%);
    background: linear-gradient(to right, #EEE 40%, #FFF 60%)
}

   .bought-progress .progres .circle.done .label {
    color: #FFF;
    background: rgb(75, 200, 51);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2)
}

   .bought-progress .progres .circle.done .title {
    color: #444
}

   .bought-progress .progres .circle.active .label {
    color: #FFF;
    background: rgb(75, 200, 51);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2)
}

   .bought-progress .progres .circle.active .title {
    color: rgb(75, 200, 51);
}


  