.red_box {
    background-color: rgb(255, 82, 83);
    text-align: center;
    color: white;
}
.text-default {
    line-height: 30px;
} 
.red_box .container {
    padding-top: 2em;
    padding-bottom: 2em;
}

.red_box .container p {
    padding-bottom: 1em;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.padding-top-2 {
    padding-top: 2em;
}
.padding-top-1 {
    padding-top: 1em;
}
.padding-bottom-2 {
    padding-bottom: 2em;
}
.padding-bottom-3 {
    padding-bottom: 3em;
}
.padding-bottom-1 {
    padding-bottom: 1em;
}
.padding-bottom-05 {
    padding-bottom: 0.5em;
}
.padding-bottom-02 {
    padding-bottom: 0.3em;
}
.padding-right-2 {
    padding-right: 2em;
}
.margin-right-1 {
    margin-right: 1em;
}
.padding-lr-0 {
    padding-left:0;
    padding-right: 0;
}

.green_text{
  color:#76bc36;
}
.red_text {
    color:rgb(255, 82, 83);
}
.white_text {
    color:white;
}
.red_bg {
    background-color:rgb(255, 82, 83);
}
.defult-text{
    color:#a6a6a6;
}
.black-text {
    color:#707070;
}
.head-text {
    color:#767676;
}
.bg-white {
    background-color: white;
}
.bg-Gainsboro{
 background-color: #d7d7d7;   
}
.bg-green{
 background-color: #76bc36;   
}
.green-text{
    color: #76bc36;   
   }
.bolder {
    font-weight: bolder;
}
.defult-icon-color {
    color:#e2e2e2;
}
.bg-color {
    background-color: #f1f1f1;
}
.padding-top-down-1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.submit-button {
    padding: 0.5em 3em;
    background-color: rgb(255, 82, 83);
    color: white;
}
.submit-button:hover {
  background-color: rgb(255, 82, 120);
  color: white;
}
.m-profile {
    margin-top: 2.2em;
    margin-bottom: 1em;
    max-width: 100px;
    max-height: 100px;
}
 .s-profile {
    margin-top: 3em;
}
.thereedots {
    padding-top: 3em;
}
.border {
    border-bottom:1px solid #ebebeb;
}
.clear_both {
    clear:both;
}
.hover-hand:hover {
    cursor: pointer;
}

.padding-top-5 {
    padding-top:6em;
}
.padding-top-3 {

    padding-top: 3em;
}

.padding-bottom-5 {
    padding-bottom: 6em;
}
.padding-bottom-3 {
    padding-bottom: 3em;
}
