

body {
    font-family: "samim" !important;
    font-size: 12px;
    direction: rtl;
    color: gray;
}
h2,h1,h3,h4,p {
    margin:0;
    padding: 0;
}
a:hover {
        text-decoration: none;
}
.padding-bottom-1 {
  padding-bottom: 1em;
}
.red_box {
  background-color: rgb(255, 82, 83);
  text-align: center;
  color:white;
  
}
.red_box .container {
    padding-top: 2em;
    padding-bottom: 2em;

}
.red_box .container span {
    border-bottom: 1px solid;
    padding: 0.5em;
    font-size: 18px;
}
.red_box .container p {
    padding-top: 2em;
    padding-bottom: 1em;
}

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.register-img {
    position: relative;
}
.register-img .comment {
    position: absolute;
    color: white;
    top: 120px;
    right: 78px;
    direction: rtl;
}
.register-img .comment p {
    padding-top: 1em;
}
.form {
    direction:rtl;
    padding:0 40px;
}
.submit button {
    padding:0.5em 3em;
    background-color: rgb(255, 82, 83);
    color:white;
}

.submit-reg button {
    padding:0.5em 3em;
    background-color: rgb(255, 82, 83);
    color:white;
}

.register {
    background-color: rgba(128, 128, 128, 0.12);
}
.register div:first-child  {
  
}
.form {
    background-color: white;
}
.form input {
    padding-right: 1.5em;
}
.form  .glyphicon {
    position: absolute;
    top:33px;
    right:22px;
}
.form h4 {
    padding-top: 2em;
    padding-bottom: 2em;
    color: #727272;
    font-weight: bolder;
}
.form label,.form input,.form .glyphicon {
  color:#b4b4b4;
}
.submit p {
    padding-top: 1.3em;
    padding-bottom: 2.5em;
}
.row .checkbox {
    padding-bottom: 2em;
}


@media (max-width: 768px){
.register-img{
    padding:0 0 2em 0;
}
.register-img img {
    margin: auto;
}
.register-img .comment {
   right: 30px;
   top: 52px;
}
}



.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      right:0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      right:2px;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }


.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }


.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: rgb(0, 166, 81);
  background-color: rgb(0, 166, 81);
  }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
   }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; 
    }
  .checkbox string {
      position: relative;
      right:-11px;
      bottom:7px;
  }

  .Check_mark {
  background-color: rgb(0, 166, 81);
  position: absolute;
  left: -2px;
  top: 0px;
  width: 14px;
  height: 14px;
  z-index: 64;
}
.hot {
    color:rgb(255, 82, 83);
}
.checkbox input[type="checkbox"]:focus + label::before {
    /* outline: thin dotted; */
    /* outline: 5px auto -webkit-focus-ring-color; */
    /* outline-offset: -2px; */
    outline: none;
}

.footer {

    padding:2em 0 1em 0 ;
    border-top: 1px solid #cccccc;
}
.padding_bottom_2 {
    padding-bottom: 2em;
}
@media(max-width:768px){
    .social {
        text-align: right;
    }
}