.bread{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 12px;
}
.icon-container {
    display: inline-block;
    margin: 0 auto;
    padding: 30px;
    border-radius: 50%;
    background-color: rgb(255, 82, 83);
}
.panel .top-panel {
    padding: 40px 0;
}
.panel {
    text-align: center;
}
.border-bottom {
    border-bottom: 1px solid #ebebeb;
}
.panel .top-panel .icon-container span {
    color: #fff;
    font-size: 50px;
}
.panel .top-panel .title {
    font-weight: 700;
    color: rgb(255, 82, 83);
    font-size: 24px;
    margin: 25px 0 10px;
}
.panel .top-panel .sub-title {
    font-size: 15px;
    color: #aaa;
}
*, :after, :before, input[type=search] {
    box-sizing: border-box;
}
.panel .body-panel .half-panel {
    width: 60%;
    padding: 45px 0;
}

[class*=col-] {
    float: right!important;
}
@media (max-width:700px){
    .panel .body-panel .half-panel {
        width: 100%;
    }
    .captch{
        padding-top: 1em;
    }
}