


@media only screen and (max-width:400px) {
    .col-xs-6 {
        padding-right:0;
        padding-left:0;
    }

}
@media only screen and (max-width:500px){
    html,body{
        font-size: 14px;
    }
    .fancy_off h1,.fancy_new_bg h1,.fancy_favorite h1 {
        font-size: 30px;
    }
    .ch_special .select {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;

    }
    .ch_special .select .img-fancy-random {
        margin: auto;
    }
    .ch_special .select .img-fancy-random img {
        margin: auto;
        width: 70%;
    }
    .summary{
        padding-top: 8em;
    }
    .summary h1 {
        font-size: 22px;
    }
    .summary p {
        width:80%;
        padding: 2em 0 2em 0;

    }
    .search{
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width:100%;
    }
    .search button{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }
    .search input {
        width: 90%;
        margin: auto;
    }
    .col-xxs-12{
        width:98%;
        text-align: center;
    }
    .about li {
        text-align: right;
    }
    .about_fancy {
        text-align: right;
    }
}

@media only screen and (max-width:600px){
    .ch_special .images_select {
        display: none;
    }
    .ch_special .content {
        width: 100%;
    }


}
@media only screen and (min-width:1000px) and (max-width:1100px) {
    .width_80,.width_85{
        width: 95%;
    }

}
@media only screen and (max-width:1000px) {
    .start section {
        width:100%;
    }
    /*.nav{*/
        /*height: 100%;*/
        /*width: 0;*/
        /*position: fixed;*/
        /*z-index: 4;*/
        /*top: 0;*/
        /*left: 0;*/
        /*background-color:rgba(17, 17, 17, 0.67);*/
        /*overflow-x: hidden;*/
        /*transition: 0.5s;*/
        /*padding-top: 60px;*/
    /*}*/
    .nav a {
        display: block ;
        padding: 0 0 1em 0;
    }
    .navbar .label {
        width:80%;
    }
    .user{
        width:50%;
        text-align: right;
    }
    .nav_open{
        display: block;
        width:50%;
        padding-left: 5px;
        height: 40px;
    }
    .user_layer{
        padding-right: 1em;
    }
    .shop{
        width:70%;
        padding-left: 5px;
    }
    .brand{
        width:30%;

        text-align: right;
        text-align: -webkit-right;
    }
    .brand img {
        padding-right: 0.5em;
        bottom: 17px;

    }
    .ch_special .images_select {
        width:50%;
    }
    .fancy_new_cat{
        display: none;
    }

    .width_80,.width_85{
        width: 98%;
    }
    .ch_special .content {
        padding: 1em;
    }


}

@media only screen and (max-width:1300px) {

}

@media only screen and (max-height:450px){
    .summary {
        padding-top: 1em;
        padding-bottom: 0.5em;
    }
    .summary p {
        width: 80%;
        padding: 1em 0 1em 0;
    }
}