
.title-request {
	width:40%;
    padding-top: 3em;
}
.description{
	padding-right: 0;
	padding-top: 2em;
}
.description textarea {
	height: 128px;
	

}
.profile {
	padding-right: 0;
	padding-bottom: 2em
}
.ticket .selectpicker{
   
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.ticket {
	margin-bottom: 4em;
}
.ticket .s-profile {
	margin-top: 3em;
}
.people-row {
	padding-top: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #ebebeb;
}

@media(max-width: 1100px){
.title-request {
	width:90%;
}
}
@media(max-width: 768px){
	.profile{
		padding-left: 0;
	}
}
@media(max-width: 600px){

}