
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'samim';

}

.red_box {
  background-color: rgb(255, 82, 83);
  text-align: center;
  color:white;
  
}
.red_box .container {
    padding-top: 2em;
    padding-bottom: 2em;

}
.red_box .container span {
    border-bottom: 1px solid;
    padding: 0.5em;
    font-size: 18px;
}
.red_box .container p {
    padding-top: 2em;
    padding-bottom: 1em;
}


.count-product {
    text-align: center;
    padding: 5px;
    margin: 2%;
}
.qty {
    border-radius: 24px;
    border: none;
    width: 24px;
    height: 24px;
    text-align: center;
    background-color: white;
    border: 2px solid #868686;
}
.qty i.fa{
    color: #868686;
    font-size: 9px;
}
.int{
      width: 21px;
    height: 19px;
    text-align: center;
    border: none;
    color: #666666;
}
input.qtyplus { width:22px; height:20px;}
input.qtyminus { width:20px; height:20px;}
.count-product form{
  position: relative;
  top:10px;
}

tbody>tr:last-child { border-bottom: 1px solid #f5f5f5 }

.shopping-bag .container {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.update-bag{
  padding-right: 0.5em;
}
.update-bag button {
background-color: rgb(255, 82, 83);
color:white;
}
.clear-bag  {
  direction: ltr;
  padding-right: 5px;
  width:150px;
}

.send-manner {
  padding-left: 0px;
}
.product form {
  text-align: center;
}
.total-buy {
  background-color: #f5f5f5;
  padding-top:1em;
  padding-bottom: 1em;
  border: 1px solid #ddd;
}
.btn.continue{
    color: #7d7d7d;
}
.btn.continue:hover{
    color: #8d8d8d;
}
.total-pay {
  color:#4ac34e;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  border: 1px solid #ddd;
}
.remove {
    padding-top: 1.5em;
    padding-left: 1em;
}
@media (max-width: 768px){
.product input {
display: block;
text-align: center;
}
.total-buy,.total-pay {
  padding-bottom: 2.5em;
  padding-top:1.5em;
}
.continue-buy {
  float: none;
  width:100%;
  text-align: center;
  padding-top: 2em;
}
.comment-buy {
  width:100%;
  padding-top: 1em;
}
}
@media (max-width:320px) {

    
  }

