y {
  color: #9f9f9f;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'samim';

}
a {
    color:#555 ;

}
a:focus, a:hover {
 
    text-decoration: none;
}
.red_box {
  background-color: rgb(255, 82, 83);
  text-align: center;
  color:white;
  
}
.red_box .container {
    padding-top: 2em;
    padding-bottom: 2em;

}
.red_box .container span {
    padding: 0.5em;
    font-size: 18px;
}
.red_box .container p {
    padding-top: 2em;
    padding-bottom: 1em;
}
.single-product {
    background-color: rgba(128, 128, 128, 0.12);
}
.product-img {
    background-color: white;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-top: 3em;
    margin-bottom: 4em;
    min-height: 580px;
}
.product-img img {
  display: inline;
  padding-top: 6em;
  padding-bottom: 6em;
}

.product-details {
   margin-top: 3em;
  margin-bottom: 4em; 
  padding-right: 5px;
}
.details {
    background-color: white;
    padding-right: 1.5em;
    padding-left: 1.5em;
    min-height: 580px;
}
.product-details .bootstrap-select>.dropdown-toggle {
    width: 40%;
}
.product-details .btn-group-vertical>.btn, .btn-group>.btn {
   
    float: right;
}

.product-details .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
    float: right;

  }
 .product-details .bootstrap-select.btn-group .dropdown-toggle .caret {
    
    right: 70px;
    margin-top: -2px;
}
.product-details .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
}
#number-select {
  padding :0.5em 0.8em 0.5em 0.8em;
}
.number-buy {
  padding-left: 1em;
}
.button-buy{
  padding-left: 1em;
}
.like {
  display: inline;
  padding: 0.5em;
  background-color:#cccccc;
  color: white;
}
.like .glyphicon {
  top:3px;
}
.share {
  display: inline;
  padding: 0.5em;
  background-color:#cccccc;
  color: white;
  margin-right: 0.5em;
      padding-right: 0.8em;
    padding-left: 0.8em;
}


.nav-tabs { border-bottom: 2px solid #DDD; }       

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px ;
    background: #ffffff;}

.card {background: #FFF none repeat scroll 0% 0%; margin-bottom: 30px; }

.product-tabs {
    clear: both;

    padding-bottom: 2em;
}
.similar-products{
    margin-top:30px;
    background: #dedede;
}
.product-tabs .nav-tabs>li {
    float: right !important;
    
}
.nav-tabs>li>a{
    background: #d6d6d6;
    color: #565656;
}

.product-tabs .nav {
  direction: ltr !important;
}
.product-tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      background-color: rgb(255, 82, 83);
      color:white;
}

.similar-products .products {
 background-color: white;
}
.similar-products .products .product {
  padding-top: 2em;
  padding-bottom:2em;
}
.similar-products .products .product img {
  display: inline;
}
.overlay-content {
    position: absolute;
    right: 5px;
    left: 5px;
    margin-top:40%;
    opacity: 0;
    transition: .7s ease;
    color: white;
    text-align: center;

}
.comment-box{
    position: relative;
    border: 1px solid #dedede;
    padding: 10px 0;
    margin-bottom:10px;
}
.comment{padding: 10px 20px;}
img.img-responsive.avatar.pull-right {
    height: 60px;
}

.rating-comment .rating{ color:#e0c923}
.rating-comment.commented{
    position: absolute;
    left: 8px;
    top: -35px;
}
.overlay {
    position: absolute;
    top: 15px;
    right: 10px;
    left: 10px;
    bottom: 15px;
    opacity: 0;
    transition: .7s ease;
    background-color: #f27573;
}
.border {
    position: absolute;
    top: 15px;
    right: 10px;
    left: 10px;
    bottom: 15px;
    border: 1px solid #ebebeb;
}

.product:hover .overlay {
    opacity: 0.75;
}
.product:hover .overlay-content {
    opacity: 1;
}
.overlay-content a {
  color:white;
}
.other-products img {
  padding-left: 1em;
}

.other-products .product:hover {
  background-color: rgba(128, 128, 128, 0.22);
}
.other-products .product {
    padding: 1em 1em 0em 3em;
}

.other-products .product a {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 1em
}
.title {
  margin:0;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-right: 0.7em;
  border:1px solid #ebebeb ;
  border-bottom: 2px solid rgb(255, 82, 83);
  font-weight: bolder;
  font-size: 13px;
    background: #e8e5e5;
    color: #777;
    border: 1px solid #dedede;
}
.products , .other-products{
    margin-bottom:30px;}
.button-buy2 {
  display: none;
  width:100%;
  text-align: center;
  padding-top:2em;
}
@media (max-width: 383px){
  .button-buy2 {
    display: block;
  }
  .button-buy{
    display: none;
  }
}

@media (min-width: 1200px){

.other-products {
    width: 29%;
}
.product-tabs {
    width: 71%;
}
}
.product .thumbnail{min-height: 250px;}

.rating-comment {
  padding-bottom: 2em;
  padding-top: 2em;
}
.rating {
  padding-top: 0.5em;
}
.other-products .price-product , .other-products .title-product , .other-products .product-item .img-path{
    padding-top: 1em;
    padding-right:0 !important;
    padding-left: 0 !important;
}
.other-products .product-item{
    padding: .5em 0;
    margin: .5em 0 ;
    border-bottom:1px solid #dedede;
}
.other-products .product-item:last-child{
    border: none;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 980px;
    }
}
.customNavigation a {
    position: absolute;
    top: 35;
    left: 0;
    right: auto;
    padding: 30px;
    float: left;
    font-size: 3em;
    cursor: pointer;
    z-index: 1;
}
.customNavigation a.next {
    left: auto;
    right: 0;
}
@media (min-width: 320px) {
    .customNavigation a {
        top: 20%;
    }
}
@media (min-width: 480px) {
    .customNavigation a {
        top: 25%;
    }
}
@media (min-width: 768px) {
    .customNavigation a {
        top: 30%;
    }
}
@media (min-width: 992px) {
    .customNavigation a {
        top: 35%;
    }
}
div.stars {
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 22px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before ,input.star:checked ~ label.star{
    content: '\f005';
    color: #ffbb25;
    transition: all .25s;
}
.text-top{
    vertical-align: top;
}

input.star-5:checked ~ label.star:before {
    color: #ffcf46;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before,input.star-1:checked ~ label.star { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
#sync1 .item {
    background: #0c83e7;
    margin: 5px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
}

#sync2 .owl-item .item {
    background: #333;
    margin: 5px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#sync2 .owl-item .item img {
    opacity: 0.5;
}
#sync2 .owl-item.synced .item img {
    opacity: 1;
}

.modal.in .modal-dialog {
    border-radius: 0px;
}
.modal.in .modal-dialog .modal-content {
    border-radius: 0px;
}
.modal.in .modal-dialog .modal-content .modal-header {
    border-radius: 0px;
    text-align: center;
}
