.profile-page .header .heading {
    font-size: 18px;
    font-weight: 700;
}
.profile-page .header {
    min-height: 50px;
    padding: 15px;
}

.profile-page .left-panel .last-orders .send-ticket {
    margin: 0 15px;
}

.grayish-btn {
    background-color:rgb(255, 82, 83);
    color: #fff;
    border: 1px solid #9ea9bb;
    font-weight: 700;
    border-radius: 3px;
}

.btn, a, button {
    -webkit-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-page .left-panel .last-orders .table tbody tr td {
    padding: 10px 8px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.6;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
@media (max-width:450px){
    .send-ticket{
        margin-top: 1em !important;
    }
}